@import url('https://fonts.googleapis.com/css?family=Righteous|Lato');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*:focus{
    outline: 0;
    user-select: none;
}

html {
    font: 25px 'Righteous', cursive;
}

:root{
    --background-color: #eeecec;
    --accent-color: #29166e;
    --logo-size: 1.7rem;
    --logo-border: 2px solid var(--accent-color);
    --header-color: #fff;
    --gray-text: #3e4e81;
    --footer-background-color: #212529;
    --footer-text: #737B82;
    --category-color-1: #e74c3c;
    --category-color-2: #9b59b6;
    --category-color-3: #3498db;
    --category-color-4: #e67e22;
    --category-color-5: #34495e;
}

body {
    background-color: var(--background-color);
    color: var(--accent-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section#page-head{
    position:fixed;
    top: 0;
    left:0;
    width: 100%;
    border-bottom: 2px solid var(--accent-color);
    background-color: var(--header-color);
    border-radius: 0% 0% 5px 5px;
}

section#page-head h1 {
    font-size: 1.2rem;
}

section#page-head header select {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1rem;
    font-family: inherit;
    color: inherit;
}

section#page-head header {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: var(--header-color);
    padding: 10px 15px;
    line-height: var(--logo-size);
}

section#page-head #desktop-menu {
    display: none;
}

section#page-head nav ul{
    list-style-type: none;
    padding: 0;
    margin-top: -68px;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: .2s linear;
}

section#page-head nav#mobile-menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .5rem;
    cursor: pointer;
}

section#page-head nav ul li:nth-child(1) i {
    color: var(--category-color-1);
}

section#page-head nav ul li:nth-child(2) i {
    color: var(--category-color-2);
}

section#page-head nav ul li:nth-child(3) i {
    color: var(--category-color-3);
}

section#page-head nav ul li:nth-child(4) i {
    color: var(--category-color-4);
}

section#page-head nav ul li:nth-child(5) i {
    color: var(--category-color-5);
}

section#page-head nav ul li i {
    font-size: 1rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1), -1px -1px 1px rgba(0,0,0,0.1)
}

section#page-head.active nav#mobile-menu ul {
    margin-top: 0px
}

section#page-head div#cat-dropdown {
    margin-top: 5px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

div.zsk_logo{
    background: url(img/zsk_logo.jpg) no-repeat center center;
    background-size: cover;
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 50%;
    border: var(--logo-border);
}

div#add-ad {
    cursor: pointer;
    font-size: .55rem;
    line-height: .6rem;
    text-align: center;
    padding-top: 10px;
}

#add-ad-desktop {
    display: none;
    cursor: pointer;
    align-self: center;
    font-size: .7rem;
    margin: 0 25px 0 10px;
    padding-top: 3px;
}

div#add-ad i {
    margin-right: 5px;
}

section#page-items {
    flex-grow: 1;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section#page-items, section#form *{
    font: bold .7rem 'Lato', sans-serif;
    color: var(--accent-color);
}

section#page-items .item {
    flex-basis: 100%;
    padding: 10px 10px;
    background-color: var(--header-color);
    margin: 5px 0;
}

section#page-items .item .image {
    width: 100%;
    height: 200px;
    background: url(img/pobrane.jpg) no-repeat center center;
    background-size: cover;
}

section#page-items .item .added-date,section#page-items .item .added-time {
    color: var(--gray-text);
    font-size: .4rem;
}

section#page-items .item .title {
    display: block;
    margin: 5px 0 -5px;
}

section#page-items .item .added-date{
    display: inline-block;
}

section#page-items .item .added-date::before {
    content: "Dodano ";
}

section#page-items .item .added-date::after {
    content: ", o godzinie ";
}

section#form {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: var(--header-color);
}

section#form form {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    flex-grow: 1;
    max-width: 600px;
}

section#form form label {
    margin: 10px 0 3px;
}

section#form form input[type="submit"] {
    margin: 21px 0 3px; 
    transition: .3s;
    cursor: pointer;
}

section#form form input[type="submit"]:hover {
    color: var(--header-color);
    background-color: var(--accent-color);
}

section#form form input, section#form form select, section#form form #addFile {
    padding: 5px 8px;
    background-color: transparent;
    border: var(--logo-border);
    border-width: 1px;  
}

section#form form input[type="file"] {
    padding: 0;
    border: none;
}

section#form form #file {
    display: none;
}

section#form form #addFile{
    cursor: pointer;
    margin: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--header-color);
    margin-top: 5px;
    padding: 20px 15px;
    color: var(--gray-text);
    font: .4rem 'Lato', sens-serif;
}

footer span:first-child {
    margin-bottom: 15px;
}

@media (min-width: 425px) {
    section#page-items .item .image {
        width: 100%;
        height: 250px;
    }
    section#page-items .item {
        flex-basis: 445px;
        padding: 10px 10px;
        background-color: var(--header-color);
        margin: 5px 0;
    }
}

@media (min-width: 700px) {
    section#page-items .item {
        flex-basis: calc(50% - 10px);
        margin: 5px 5px;
    }
}

@media (min-width: 900px) {
    section#page-items .item .image {
        width: 100%;
        height: 200px;
    }
    section#page-items .item {
        flex-basis: calc(33% - 10px);
    }
}

@media (min-width: 1024px) {
    section#page-items .item {
        flex-basis: calc(33% - 10px);
    }

    section#page-items {
        margin: 70px auto 0;
        max-width: 1200px;
    }

    section#page-items .item .image {
        height: 230px;
    }

    #cat-dropdown {
        display: none;
    }

    #add-ad-desktop{
        display: block;
    }

    section#page-head #mobile-menu {
        display: none;
    }

    section#page-head #desktop-menu {
        display: block;
    }

    section#page-head nav#desktop-menu{
        flex-grow: 1;
        padding: 0 10px;
        margin: 0 15px 0 5px;
    }

    section#page-head nav#desktop-menu ul {
        margin: 0 auto;
        max-width: 910px;
    }
    section#page-head nav#desktop-menu ul li{
        cursor: pointer;
    }
    section#page-head nav#desktop-menu ul li i {
        margin-right: 8px;
    }

    footer span:first-child{
        margin-bottom: 0;
    }
}

@media (min-width: 1260px){
    section#page-head nav#desktop-menu{
        margin: 0 0 0 183px;
    }
}