<%@current_week.each do |post|%>
     <%if post.is_confirmed == 1 %> 
        <%=link_to post_path(post) do%>
            <div>
                <h3><%=post.title%></h3>
                <p><%if post.image.exists?%>
                <%= image_tag post.image.url%>
                <%end%></p>
            </div>
        <%end%>
    <%end%>
<%end%>