<h1>Tytuł strony</h1>
<h2>Z ostatniego tygodnia</h2>
<%@posts.each do |post|%>
    <%if post.is_confirmed == 0%>
    <div>
        <%=post.title%>
    </div>
    <%end%>
<%end%>

<ul>
<%@tags.each do |tag|%>
    <li><%=tag.name%></li>
<%end%>
</ul>
<%=link_to "Dodaj nowy przedmiot", new_post_path%>